#coupon{
    height:200px;
    width:400px;
    background-color: blueviolet;
    z-index:100;
    margin-left:35%;
    visibility:hidden;
    position:absolute;
    margin-top:-40%
}

#main{
    background-color: orange;
    height:700px;
    opacity:.5;
}